{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block sorted_by %}
{% endblock %}
{% block content %}
<h1>주문서</h1>
구매자 : {{ user.customer_name }}
<p>결제명세서는 {{user.email}}로 발송됩니다.</p>
    <div class="shipping-info">
        <div class="row mb-3">
            <br>
            <div class="col-sm-6">
                <h2>배송 정보</h2>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary float-end">배송지 목록</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-4">
                <label for="postal_code">우편번호</label>
                <input type="text" readonly id="postal_code" name="postal_code" class="form-control" required style="background-color: #f2f2f2;">
            </div>
            <div class="col-sm-2">
                <label for="postal_code_find"></label>
                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn btn-primary form-control">
            </div>
        </div>
        <div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="shipping_address">주소</label>
                <input type="text" readonly id="shipping_address" name="shipping_address" class="form-control" required style="background-color: #f2f2f2;">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="shipping_address_detail">상세 주소</label>
                <input type="text" id="shipping_address_detail" name="shipping_address_detail" class="form-control" required>
            </div>
        </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="recipient">수령인</label>
                <input type="text" id="recipient" name="recipient" class="form-control" required>
            </div>
            <div class="col-sm-6">
                <label for="recipient_phone_number">수령인 연락처</label>
                <input type="text" id="recipient_phone_number" name="recipient_phone_number" class="form-control" required>
                <small id="phoneError" class="text-danger"></small>
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">주문 상품</h2>
            <div class="order-items">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <img src="{% static 'example/소고기스테이크.png' %}" style="width: 100px;" alt="{{ product.product_name }}" class="img-fluid">
                    </div>
                    <div class="col-md-6 align-self-center">
                        <h4><a href="{% url 'customer:product_detail' product_id=product.product_id %}">{{ product.product_name }}</a></h4>
                        <p>{{ quantity }} 개</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <p><a href="#">상품 판매자: {{ product.seller }}</a></p>
                    <p>총 가격: {{ final_price|floatformat:"0" }}원 <span class="text-decoration-line-through text-secondary">{{ product.price|mul:quantity }}원</span></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2>총 주문 가격</h2>
    <div class="total-price">
        <h3>{{ final_price|floatformat:"0" }}원</h3>
    </div>
    <br>
    <h2>결제 수단</h2>
    <div class="payment-method">
        <select id="payment_method" name="payment_method" class="form-select" required>
            <option value="card">카드결제</option>
            <!-- <option value="bank_transfer">계좌이체</option>
            <option value="cash">현금결제</option> -->
        </select>
    </div>
    <br>
    <button type="submit" onclick="requestPay()" class="btn btn-primary mt-3">결제하기</button>

<script>
    // 로그인한 구매자 정보를 기본 배송정보로 설정  
    document.getElementById('postal_code').value = '{{ user.postal_code }}'; // 사용자 우편번호 자동 채움
    document.getElementById('shipping_address').value = '{{ user.address }}'; // 사용자 주소 자동 채움
    document.getElementById('recipient').value = '{{ user.customer_name }}'; // 사용자 주소 자동 채움
    document.getElementById('recipient_phone_number').value = '{{ user.phone_number }}'; // 사용자 주소 자동 채움
</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 검색한 주소 적용    
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                document.getElementById('postal_code').value = data.zonecode; // 검색한 우편번호 자동 채움
                document.getElementById('shipping_address').value = data.address; // 검색한 주소 자동 채움
            }
        }).open();
    }
</script>

<script>
    // 입력한 수령인 전화번호 유효성 검사  
    document.getElementById("recipient_phone_number").addEventListener("input", function() {
        var phoneInput = this.value;
        var isValidFormat = /^(\d{11}|(\d{3}-\d{4}-\d{4}))$/.test(phoneInput); // 숫자 11자리 또는 3-4-4 형식 확인

        // 유효한 형식인지 확인하여 메시지 표시
        if (isValidFormat) {
            document.getElementById("phoneError").textContent = "";
        } else {
            document.getElementById("phoneError").textContent = "유효한 전화번호가 아닙니다.";
        }
    });
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>
    var IMP = window.IMP;
    var code = "imp26236276";  // 가맹점 식별코드
    IMP.init(code);

    function requestPay() {
    // 주문 정보를 서버로 전송. order,orderitem 테이블 생성하기 위함
    $.ajax({
        url: "{% url 'customer:save_order' %}",
        type: "POST",
        dataType: "json",
        data : {
            csrfmiddlewaretoken : window.CSRF_TOKEN, // CSRF 토큰 추가
            postal_code: $('#postal_code').val(), // 우편번호
            shipping_address: $('#shipping_address').val(), // 배송 주소
            shipping_address_detail: $('#shipping_address_detail').val(), // 상세 주소
            recipient: $('#recipient').val(), // 수령인
            recipient_phone_number: $('#recipient_phone_number').val(), // 수령인 전화번호
            product_id: '{{ product.product_id }}', // 상품 ID
            quantity: '{{ quantity }}', // 수량
            final_price: '{{ final_price }}', // 총 주문 가격 -> 현재 DB에 저장되는 값
            payment_method: $('#payment_method').val() // 결제 수단
        },
        success: function(data) {
            // 결제 정보 전송에 성공한 경우. 즉, order,orderitem 테이블 생성 성공한 경우            
            if (data.success) {
                // 서버에서 받은 결제 정보를 이용하여 IMP.request_pay 실행
                IMP.request_pay({
                    // name과 amount만 있어도 결제 진행가능
                    pg : 'html5_inicis', // 이니시스 결제창
                    pay_method : $('#payment_method').val(), // 신용카드 
                    merchant_uid : 'merchant_' + new Date().getTime(), 
                    name : '{{ product.product_name }}',
                    amount : 100, // 임시 테스트 결제값 -> DB에는 실제 상품 값 저장
                    buyer_email : '{{ user.email }}',
                    buyer_name : '{{ user.username }}',
                    buyer_tel : '{{ user.phone_number }}',
                    buyer_addr : '{{ user.address }}',
                    buyer_postcode : '{{ user.postal_code }}',
                    m_redirect_url : '{% url "customer:order_success" %}' // 모바일 기준
                }, function(response) { //결제 후 호출되는 callback함수
                    // 결제 결과에 따라 order 상태 수정하기위한 form 생성
                    var form = $('<form></form>');
                    form.attr('method', 'post');
                    form.attr('action', '{% url "customer:order_fail" %}');
                    var csrfTokenInput = $('<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />');
                    form.append(csrfTokenInput);
                    if ( response.success ) { // 결제 과정을 마치고 사용자이 돈이 실제로 지불됨
                        // 결제 성공 시, 서버에 결제 정보를 저장하고 리디렉션
                        $.ajax({
                            url: "{% url 'customer:save_payment' %}",
                            type: "POST",
                            dataType: "json",
                            data : {
                                csrfmiddlewaretoken : window.CSRF_TOKEN, // CSRF 토큰 추가
                                order_id: data.order_id,
                                imp_uid: response.imp_uid, // 결제 상점
                                merchant_uid: response.merchant_uid, // 결제 번호
                                paid_amount: response.paid_amount, // 실제 지불한 금액
                                final_price: '{{ final_price }}', // 결제 가격 -> 현재 DB에 저장되는 값
                                product_id: '{{ product.product_id }}', // 상품 ID
                                quantity: '{{ quantity }}', // 수량
                            },
                            success: function(data) {
                                if ( data.success ) {
                                    // 결제 정보 저장 완료 후 리디렉션. 유일하게 payment테이블이 생성되는 경우
                                    console.log('결제 완벽 성공');
                                    window.location.href = "{% url 'customer:order_success' %}?order_id=" + data.order_id; // 리디렉션
                                } else { // 자동 환불 로직 추가 예정
                                    // 결제 이후 재고부족. order테이블의 주문상태는 서버에서 업데이트 됨
                                    // 결제 도중 다른 구매자가 더 빨리 결제를 완료한 경우 발생 가능
                                    console.error('결제취소 :', data.message);
                                    alert(data.message)
                                }
                            },
                            error: function(xhr, status, error) { // 자동 환불 로직 추가 예정
                                // 결제 정보 저장 실패, 즉 실제 결제는 완료되었으나 payment테이블 생성을 못한 경우
                                // save_payment 뷰에서 핸들 안 된 오류들 -> 상품 없음, 테이블 꼬임 등의 DB 문제
                                console.error('결제 정보를 처리하는 중 문제가 생겼습니다. :', error);
                                // order의 주문상태 변경
                                var orderStatus = $('<input type="hidden" name="order_status" value="환불대기" />');
                                var orderId = $('<input type="hidden" name="order_id" value="' + data.order_id + '" />');
                                var errMessage = $('<input type="hidden" name="err_message" value="결제 정보를 처리하는 중 문제가 생겼습니다. 영업일 2일 이내로 자동으로 환불될 예정입니다." />');
                                form.append(orderStatus);
                                form.append(orderId);
                                form.append(errMessage);
                                $('body').append(form);
                                form.submit();
                            }
                        });
                    } else {
                        // 실제 결제 과정이 실패한경우, order,orderitem 테이블은 생성된 상태
                        // 결제 중간에 사용자가 창을 종료한 경우 등
                        console.error('결제가 처리되지 못하였습니다.', response.error_msg);
                        // order의 주문상태 변경
                        var orderStatus = $('<input type="hidden" name="order_status" value="결제실패" />');
                        var orderId = $('<input type="hidden" name="order_id" value="' + data.order_id + '" />');
                        var errMessage = $('<input type="hidden" name="err_message" value="' + response.error_msg + '" />');
                        form.append(orderStatus);
                        form.append(orderId);
                        form.append(errMessage);
                        $('body').append(form);
                        form.submit();
                    }
                });
            } else {
                // 주문 정보 전송에 실패한 경우. 즉, order,orderitem 테이블 생성을 못한 경우
                // 상품 재고 부족이 원인
                console.error('구매서를 작성하는 중 문제가 발생하였습니다 :', data.message);
                alert('구매서를 작성하는 중 문제가 발생하였습니다 :', data.message);
            }
        },
        error: function(xhr, status, error) {
            // 주문 정보 전송에 실패한 경우. 즉, order,orderitem 테이블 생성을 못한 경우
            // save_order view에서 핸들하지 않은 에러가 발생한 경우
            console.error('Ajax 오류: ', error);
            alert('구매서를 작성하는 중 문제가 발생하였습니다. 구매서에 유효한 값을 입력했는지 확인하십시오. 문제가 지속되는 경우, 판매점에 문의하세요.');
        }
    });
}

</script>
{% endblock %}