{% extends 'customer/mypage.html' %}
{% block sorted_by %}
{% endblock %}
{% block content_side %}

주문일자 : {{order.order_date}} / 결제일시 : 
주문번호 : {{order.order_id}}
주문명 : 


<!-- order_id = models.AutoField(primary_key=True) 
    customer = models.ForeignKey(Customer, on_delete=models.CASCADE)
    order_date = models.DateField()
    order_status = models.CharField(max_length=50)
    shipping_address = models.CharField(max_length=300)
    postal_code = models.CharField(max_length=5)
    recipient = models.CharField(max_length=100)
    recipient_phone_number = models.CharField(max_length=20)
    payment_method = models.CharField(max_length=20)
 -->

{% endblock %}