{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block sorted_by %}
{% endblock %}
{% block content %}
&nbsp;
<h3>결제가 완료되었습니다</h3>
<div class="payment-details mt-4">
    <div class="order-info">
        <p>주문번호: {{ order.order_id }}</p>
        <p>주문상태: {{ order.order_status }}</p>
        <p>결제금액: {{ payment.paid_amount }}원 / (100*상품종류개수)원</p>
        <p>수령인: {{ order.recipient }}</p>
        <p>배송지: {{ order.shipping_address }} ({{ order.postal_code }})</p>
    </div>
    <div class="order-items">
        <p>구매상품:</p>
        <ul>
            {% for item in order_items %}
            <li>{{ item.product.product_name }}: {{ item.quantity }}개</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}