{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
  <!-- 정렬 -->
{% block sorted_by %}
  <div class="container">
  <div class="d-flex flex-wrap mt-4 "> 
    {% if current_sorted_by == 'order' %} 
    <a href="{% url 'customer:category_sorted_list' category_id=current_category.category_id sorted_by='order' %}" style="font-weight: bold;" class="link-body-emphasis text-decoration-none mx-2">주문순</a> 
    {% else %}
    <a href="{% url 'customer:category_sorted_list' category_id=current_category.category_id sorted_by='order' %}" class="link-body-emphasis text-decoration-none mx-2">주문순</a> 
    {% endif %}  
    {% if current_sorted_by == 'newest' %} 
    <a href="{% url 'customer:category_sorted_list' category_id=current_category.category_id sorted_by='newest' %}" style="font-weight: bold;" class="link-body-emphasis text-decoration-none mx-2">할인율순</a>  
    {% else %}
    <a href="{% url 'customer:category_sorted_list' category_id=current_category.category_id sorted_by='newest' %}" class="link-body-emphasis text-decoration-none mx-2">할인율순</a>
    {% endif %}  
    {% if current_sorted_by == 'like' %} 
    <a href="{% url 'customer:category_sorted_list' category_id=current_category.category_id sorted_by='like' %}" style="font-weight: bold;" class="link-body-emphasis text-decoration-none mx-2">좋아요순</a>
    {% else %}
    <a href="{% url 'customer:category_sorted_list' category_id=current_category.category_id sorted_by='like' %}" class="link-body-emphasis text-decoration-none mx-2">좋아요순</a>
    {% endif %}  
  </div>
  </div>
{% endblock %}
{% block content %}
{% include 'product_card.html' with products=products title="" %}


<!-- 페이지네이션 -->
<div class="pagination mt-3 mx-2">
  <span class="step-links">
    {% if products.has_previous %}
      <a href="?page=1">&laquo; </a>
      <a href="?page={{ products.previous_page_number }}">이전</a>
    {% endif %}

    <span class="current">
      Page {{ products.number }} of {{ products.paginator.num_pages }}.
    </span>

    {% if products.has_next %}
      <a href="?page={{ products.next_page_number }}">다음</a>
      <a href="?page={{ products.paginator.num_pages }}"> &raquo;</a>
    {% endif %}
  </span>
</div>
<!-- /페이지네이션 -->

<script>
  function getCsrfToken(){
    return document.getElementById('csrfToken').value;
  }

  function like_product(product_id){
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{% url 'customer:like_product' product_id=0 %}".replace('0', product_id), true); // 좋아요 상태를 업데이트할 URL로 변경
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.setRequestHeader('X-CSRFToken', getCsrfToken());
    
    xhr.onload = function() {
      if (this.status === 200) {
        var response = JSON.parse(this.responseText);

        // 좋아요 상태 업데이트
        var buttonImg = document.getElementById('buttonImg-' + product_id);
        var likeCount = document.getElementById('likeCount-' + product_id);
        if (response.likeTF) {
          // 좋아요 버튼 색상 변경 및 좋아요 개수 증가
          likeCount.innerText = parseInt(likeCount.innerText) + 1;
          buttonImg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" style="color: red;" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/></svg>';
        } else {
          // 좋아요 버튼 색상 변경 및 좋아요 개수 감소
          likeCount.innerText = parseInt(likeCount.innerText) - 1;
          buttonImg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" style="color: red;" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/></svg>';
        }
      } else {
        console.error('Error updating:', this.statusText);
      }
    };

    xhr.send(); // POST 데이터 없이 전송
  }
</script>
{% endblock %}