{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
    <div class="col-md-6">
        <img src="{{ object.image_url }}" alt="{{ object.name }}" class="product-image">
        <img src="{% static 'example/소고기스테이크.png' %}" alt="{{ object.name }}" class="product-image">
    </div>
    <div class="col-md-6 info-section">
        <p>상품 카테고리 : {{ object.category_name }}</p>
        <h2>{{ object.product_name }}</h2>
        <h3 class="text-muted">{{ object.price }}원</h3>
        <p>할인율 : {{ object.discount_rate }}</p>
        <p>할인 적용가 -> 나중에 계산할 것</p>
        <p>현재 재고 : {{ object.stock }}개</p>
        <p>{{ object.description }}</p>
        <div  class="col-md-6 container">
            <input type="hidden" id="csrfToken" value="{{csrf_token}}">
            <button type="button" onclick="modifyAmount({{object.id}}, -1)" class="btn btn-primary">-</button>
            <button type="button" class="btn btn-secondary">
                <span class="badge bg-secondary"><span id="currentQuantity"></span></span>
            </button>
            <button type="button" onclick="modifyAmount({{object.id}}, 1)" class="btn btn-danger">+</button>
            </div>
            <div  class="container">
                <input type="hidden" id="csrfToken" value="{{csrf_token}}">
                <a href="#" class="btn btn-primary">장바구니 담기</a>
                <a href="#" class="btn btn-success">바로구매</a>
                </button>
            </div>
    </div>
    </div>
    </div>
    <!-- Bootstrap JS with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
<!-- <script>
document.getElementById('totalQuantity').textContent = {{totalCartAmount}}
document.getElementById('currentQuantity').textContent = {{cartAmount}}
</script> -->
{% endblock %}