{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block sorted_by %}
{% endblock %}
{% block content %}
<style>
.carousel-control-prev, .carousel-control-next, .carousel-indicators button {
    color: black; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
    filter: invert(100%); /* 버튼 아이콘 색상 반전 */
}
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for product_img in product_imgs %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} class="carousel-indicator"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for product_img in product_imgs %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ product_img.image_url }}" class="d-block w-100" alt="Product Image">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6 info-section">
            <p class="text-muted mb-2 fs-5">상품 카테고리: {{ product.category_name }}</p>
            <h2 class="product-name mb-2 fs-3">{{ product.product_name }}</h2>
            <a href="#">{{ product.seller }}</a>
            <div class="row align-items-center mb-4 mt-4">
                <div class="col-md-6">
                    {% if product.discount_rate %}
                    <p class="price mb-0 fs-4"><span class="text-decoration-line-through text-secondary">{{ product.price }}원</span> {{ product.discount_rate|multiply_by_100|floatformat:"0" }}%</p>
                    <p class="price mb-1 fs-3"> 할인가 : {{ product.price|calc_discount:product.discount_rate|floatformat:"0" }}원</p>
                    {% else %}  
                    <p class="price mb-0 fs-4">{{ product.price }}원</span></p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p class="stock mb-1 fs-6">현재 재고: {{ product.stock }}개</p>
                </div>
            </div>
            <p class="description mb-4 fs-5">{{ product.description }}</p>
            <div class="quantity-section mb-4">
                <div class="input-group">
                    <button type="button" onclick="modifyAmount({{ product.product_id }}, -1)" class="btn btn-outline-primary fs-4" {% if product.stock <= 1 %}disabled{% endif %}>-</button>
                    <span class="badge bg-secondary quantity-badge fs-4"><span id="currentQuantity">1</span></span>
                    <button type="button" onclick="modifyAmount({{ product.product_id }}, 1)" class="btn btn-outline-danger fs-4" {% if product.stock <= 1 %}disabled{% endif %}>+</button>
                </div>
                <div class="total-amount mt-3 fs-5">
                    총 금액: <span id="totalAmount">{{ product.price|calc_discount:product.discount_rate }}</span>원
                </div>
            </div>
            <div class="action-buttons">
                <form method="get" action="{% url 'customer:quick_checkout' %}" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                    <input type="hidden" name="quantity" id="quantityInput" value="">
                    <button type="submit" onclick="getAmount()"  class="btn btn-success fs-4">바로구매</button>
                </form>
                <button id="addToCart" data-product-id="{{ product.product_id }}" class="btn btn-primary fs-4 me-3">장바구니에 담기</button>
                <!-- <button id="buyNow" class="btn btn-success fs-4">바로 구매</button> -->
            </div>
        </div>
    </div>
</div>

<style>
    /* 팝업 기본 스타일 */
    #cart-popup {
        position: fixed; /* 화면에 고정 */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 20px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        z-index: 100; /* 다른 요소들 위에 보이도록 */
        display: none; /* 초기 상태는 숨김 */
    }

    #close-btn {
    margin-bottom: 20px; /* 내용과의 간격 */
    }
</style>

 <!-- 팝업을 위한 HTML (초기에는 숨겨져 있음)  -->
<div id="cart-popup" style="display:none;">
    <!-- // 'X' 닫기 버튼 추가  -->
    <div id="close-btn" style="cursor: pointer; text-align: right;">X</div>
    <p>장바구니에 담겼습니다.</p>
    {% comment %}
    <!-- <a id='cart-link' href="{% url 'customer:cart' user.id %}">장바구니로 이동하기</a> -->
    {% endcomment %}
    {% if user.is_authenticated %}
    <a id='cart-link' href="{% url 'customer:cart' user.id %}">장바구니로 이동하기</a>
    {% else %}
    <a id='cart-link' href="{% url 'customer:guest_cart' %}">장바구니로 이동하기</a>
    {% endif %}
</div>

    <!-- Bootstrap JS with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // 장바구니 ajax
    $(document).ready(function() { 
        $('#addToCart').click(function() { // addToCart라는 id를 가지는 버튼(장바구니에 담기)와 관련된 함수
            var productId = $(this).data('product-id'); // 해당 상품의 ID
            var quantity = $("#currentQuantity").text(); // 수량 입력 필드에서 값을 가져옵니다.
            
            $.ajax({ // ajax를 활용하여
                url: '{% url "customer:add_to_cart" %}', // 어디로 보낼지
                method: 'POST', // 형태는 POST
                data: { // 보낼 데이터를 정의
                    'product_id': productId,
                    'quantity': quantity, // 데이터에 quantity 추가
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) { // url "customer:add_to_cart" -> views.py의 add_to_cart 를 잘 거쳐서
                    
                    if(data.added) { // 데이터를 잘 반환 받았다면
                        $('#cart-popup').show(); // cart-popup을 id로 가지는 div 태그 실행
                        // 성공적으로 아이템이 추가된 후 팝업을 4초 후에 숨김
                        setTimeout(function() {
                        $('#cart-popup').hide();
                        }, 4000); // 4000 밀리초 = 4초
                    }
                },
                error: function(xhr, status, error) { // 아니라면 에러 팝업
                    alert("장바구니 담기에 실패했습니다.");
                }
            });
        });
    });


    // 'X' 닫기 버튼에 대한 클릭 이벤트 리스너 추가
    document.getElementById('close-btn').addEventListener('click', function() { // addEventListener : 이벤트(클릭)를 듣고 있겠다, clost-btn에 대해서 이벤트를 보고 있는데 click이 들어오면 뒤에 함수를 실행
        // 팝업을 숨김 처리
        document.getElementById('cart-popup').style.display = 'none';
    });

    // '장바구니로 이동하기' 링크에 클릭 이벤트 리스너 추가
    document.getElementById('cart-link').addEventListener('click', function() {
        document.getElementById('cart-popup').style.display = 'none';
    });

    // Function to calculate and update the total amount
    function updateTotalAmount(quantity, price) {
        var totalAmount = quantity * price;
        document.getElementById('totalAmount').textContent = totalAmount;
    }

    // Call the updateTotalAmount function initially with default quantity and price
    updateTotalAmount(1, {{ product.price|calc_discount:product.discount_rate }});

    // Function to modify the quantity
    function modifyAmount(productId, amount) {
        var currentQuantity = parseInt(document.getElementById('currentQuantity').textContent);
        var newQuantity = currentQuantity + amount;
        if (newQuantity >= 1 && newQuantity <= {{ product.stock }}) { // &&: 파이썬 and
            document.getElementById('currentQuantity').textContent = newQuantity;
            updateTotalAmount(newQuantity, {{ product.price|calc_discount:product.discount_rate }});
        }
    }
</script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Function to calculate and update the total amount
    function updateTotalAmount(quantity, price) {
        var totalAmount = quantity * price;
        document.getElementById('totalAmount').textContent = totalAmount;
    }

    // Call the updateTotalAmount function initially with default quantity and price
    updateTotalAmount(1, {{ product.price|calc_discount:product.discount_rate }});

    // Function to modify the quantity
    function modifyAmount(productId, amount) {
        var currentQuantity = parseInt(document.getElementById('currentQuantity').textContent);
        var newQuantity = currentQuantity + amount;
        if (newQuantity >= 1 && newQuantity <= {{ product.stock }}) {
            document.getElementById('currentQuantity').textContent = newQuantity;
            updateTotalAmount(newQuantity, {{ product.price|calc_discount:product.discount_rate }});
        }
    }

    function getAmount(){
        var currentQuantity = document.getElementById('currentQuantity').innerText;
        document.getElementById('quantityInput').value = currentQuantity;
    }
</script>
{% endblock %}