{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h2>개인정보 수정</h2>
    {% if messages %}
        <script>
            window.onload = function() {
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            }
        </script>
    {% endif %}


    <form method="post">
        {% csrf_token %}
        아이디: <input type="text" name="username" value="{{ user.username }}" disabled><br>
        이름: <input type="text" name="customer_name" value="{{ customer_name }}"><br>
        Email: <input type="email" name="email" value="{{ user.email }}"><br>
        휴대폰 번호:<input type="text" name="phone_number" value="{{ user.phone_number }}"><br>
        주소:<input type="text" name="address" value="{{ address }}"><br>
        우편번호:<input type="text" name="postal_code" value="{{ postal_code }}"><br>
        <button type="submit">수정하기</button>
    </form>
    <!-- <p> 이 페이지에서는 개인정보를 확인하고 수정하실 수 있습니다.</p>
    <p> 회원님은 {{grade}} 등급입니다.</p>  
    <div>        
        아이디: {{ user.username }}<br>
        이름: {{ customer_name }}<br>
        Email: {{ user.email }}<br>
        휴대폰 번호:{{user.phone_number}}<br>
        주소:{{address}}<br>
        우편번호:{{postal_code}}<br> -->
        
        <!-- 추가 정보 필드가 필요하다면 여기에 기입 -->
    </div>      
{% else %}
    <p>개인정보수정은 로그인한 후 사용할 수 있습니다.</p>
{% endif %}
{% endblock %}