{% extends 'base.html' %}

<body>
{% block sorted_by %}
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.company_name is not none%}

    <h1>{{user}} 님의 상품 등록 페이지</h1>

<form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div>
        <div>
            <label for="category" class="form-label">카테고리:</label>
            <select name="category" id="category" required>
                <option value="">--- 카테고리 선택 ---</option>
                {% for category in categories %}
                  <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                {% endfor %}
              </select>            
        </div> 
        <div>
            <label for="product_name" class="form-label">상품 이름:</label>
            <input type="text" name="product_name" class="form-control" id="product_name">
        </div>
        <div class="col-md-4">
            <label for="price" class="form-label">가격:</label>
            <input type="number" name="price" class="form-control" id="price">
        </div>
    </div>
    <div>
        <label for="description" class="form-label">소개:</label>
        <textarea name="description" rows="2" class="form-control"></textarea>
    </div>
    <div>
        <label for="is_visible" class="form-label">노출:</label>
        <select name="is_visible" class="form-control" id="is_visible">
            <option value="true">노출</option>
            <option value="false">비노출</option>
        </select>
    </div>
    <div>
        <label for="stock" class="form-label">수량:</label>
        <input type="number" name="stock" class="form-control" id="stock">
    </div>
    <div>
        <label for="discount_rate" class="form-label">할인률:</label>
        <input type="number" name="discount_rate" class="form-control" id="discount_rate">
        <label for="discount_rate" class="form-label">소수로 입력해 주세요(ex) 10%할인 0.10 )</label>
    </div>
    <div>
        <label for="is_option" class="form-label">옵션:</label>
        <select name="is_option" class="form-control" id="is_option">
            <option value="true">있음</option>
            <option value="false">없음</option>
        </select>
    </div>
    <div>
        <label class="form-label">사진을 올려주세요</label>
        <input type="file" name="files" multiple class="form-control" id="files">
        <div id="image-preview"></div>
    </div>
    <div class="text-center">
        <input type="submit" value="등록" class="btn btn-success">
    </div>
</form>



</body>
<script>
const fileInput = document.getElementById('files');
const imagePreview = document.getElementById('image-preview');

fileInput.addEventListener('change', function() {
  const files = this.files;

  // 미리보기 이미지를 모두 제거합니다.
  imagePreview.innerHTML = '';

  // 선택된 각 파일을 처리합니다.
  for (const file of files) {
    const reader = new FileReader();
    reader.onload = function(e) {
      const img = document.createElement('img');
      img.src = e.target.result;
      img.style.width = '100px'; // 원하는 너비 설정
      img.style.height = 'auto'; // 높이는 자동 조정
      imagePreview.appendChild(img);
    };
    reader.readAsDataURL(file);
  }
});
</script>

{% endblock %}